<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fast classification tools for various standards.">
    <meta name="keywords" content="Standard, Categorization, Classification, Categorizer, Classifier, Search, Match">
    <meta name="author" content="Dmitry Matv">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>Classifast | Instant Bulk Classification Tool</title>

    <link rel="canonical" href="https://classifast.com/">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Classifast | Instant Bulk Classification">
    <meta property="og:description" content="Fast classification tools for various standards.">
    <meta property="og:url" content="https://classifast.com/">
    <meta property="og:image" content="https://classifast.com/static/images/preview.png">

    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebApplication",
        "name": "Classify anything, fast, and in bulk | Classifast",
        "url": "https://classifast.com/",
        "description": "Classify anything, fast, and in bulk. Enter any text to find a respective class.",
        "author": {
            "@type": "Person",
            "name": "Dmitry Matv"
        },
        "keywords": "Categorization, Classification, Categorizer, Classifier, Search, ETIM"
    }
    </script>

    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">

    <script defer src="https://umami.classifast.com/script.js"
        data-website-id="92ba1e11-eb38-415a-bbb6-8ef7b783bece"></script>
</head>

<body>
    <header>
        <h2>Classifast</h2>
        <nav>
            <ul>
                <li><a href="{{ url_for('show_classifier_page', classifier_type='etim') }}">ETIM International</a></li>
                <!-- Add other classifier links here -->
                <li><a href="{{ url_for('show_classifier_page', classifier_type='unspsc') }}">UNSPSC</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="welcome-section">
            <h1>Welcome to Classifast</h1>
            <p>Your hub for fast, bulk classification tools.</p>
            <p>Select a classification standard from the menu above to get started.</p>
            <!-- You could add more descriptive content about the service here -->
        </section>

        <!-- Removed classifier form and results sections -->

    </main>
    <footer>
        <p>&copy; 2024 Dmitry Matv</p>
    </footer>
</body>

</html>